<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© <script>document.write(new Date().getFullYear())</script> GPS Tracking System. Všechna práva vyhrazena.</span>
    </div>
</footer> 