<!-- Alert Detail Modal -->
<div class="modal fade" id="alertDetailModal" tabindex="-1" aria-labelledby="alertDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertDetailModalLabel">
                    <i class="fas fa-exclamation-triangle text-warning me-2"></i> Unread Alerts
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="alertDetailModalBody">
                <!-- Alert content will be injected here by JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="markAlertsAsReadBtn">Mark as Read</button>
            </div>
        </div>
    </div>
</div>
