<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gpsreporterapp">

    <!-- Povolení pro přístup k internetu -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Povolení pro přesnou polohu (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Povolení pro přibližnou polohu (WiFi, sítě) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Povolení pro běh služby na pozadí (pro novější Android) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Nové specifické povolení pro službu polohy od Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> <!-- Povolení pro přístup k poloze na pozadí (pro Android 10+) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_gps_pin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gps_pin"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpsReporterApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>